/*### Defaults ###*/
body {
    line-height: 1;
    margin: 0;
    /*background-image: url(assets/images/acm.jpg);*/
    font-family: sans-serif;
}

.table-responsive {
    width: 80%;
    border: 5px;
    border-radius: 8px;
    margin: auto;
}

.table {
    margin-top: 7%;
}


div.color {
    min-height: 540px;
}

.topLeftRad a {
    text-decoration: underline;
    color: white;
}
