# Packages & Compressed files
*.zip
*.gz

#ignore downloaded problem pdfs
back/python-api/problem.pdf

# ingnore videos
*.mp4

# ingnore logs & Databases
.idea/

# ignore python compiled byte code
*.pyc

# ignore parsed submissions
back/[0-9]*_[0-9]*/

# ignore Soruce codes, problems_db
source_codes/*
problems_db/*
!problems_db/.gitkeep
!source_codes/.gitkeep
