# Packages & Compressed files
*.zip
*.gz

# ingnore user-uploaded assets (images, PDFs, videos)
*.mp4

# ingnore logs & Databases  
.*
.idea/*.xml
.idea/*.iml

# ignore soultions
source_codes/*
problems_db/*/test_cases/my_out/*
