/*### Defaults ###*/

* {
    box-sizing: border-box;
}

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    font-family: sans-serif;
    background-image: url(../assets/images/acm.jpg);
}



/*###Avatar###*/
.profile-container {
    padding-top: 6%;
    padding-bottom: 6%;
}

.card.profile-card {
    padding: 40px 0px 20px;
    background-color: rgb(209, 191, 25);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.avatar {
    text-align: center;
}
.avatar img{
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.avatar h3 {
    display: inline-block;
    font-family: 'Text Me One';
    font-weight: bold;
}

.avatar label{
    font-family: 'Text Me One';
    font-size: 20px;
}

.profile-linewrapper {
    margin-top: 10%;
}

.profile-linewrapper div {
    margin-bottom: 10%;
    margin-top: 5%;
    /*padding: 1%;*/
    padding-top: 2%;
    padding-left: 2%;
    border-bottom: 1px solid #2c2e28;
    border-radius: 3px;
}

.profile-linewrapper div span {
    color: black;
}

div.profile-linewrapper :hover {
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: #fff;
}

div.profile-logout {
    text-align: center;
    text-transform: uppercase;
    margin-top: 25%;
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: rgb(209, 191, 25);
}

div.profile-logout a {
    text-decoration: none;
    color: black;
}
/*###Details Submission###*/

.card.details-card {
    padding: 40px 0px 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div.row-div {
    padding: 2.5%;
    text-align: center;
}

div.tried-col {
    background: #dee2e6;
    padding: 2%;
    cursor: pointer;
}

div.tried-col:hover {
    background: #dee2e6a4;
}

div.solved-col {
    padding: 2%;
    background: #8bea61;
    cursor: pointer;
}

div.solved-col:hover {
    background: #8aea61b0;
}

div.notsolved-col {
    padding: 2%;
    background: #ff4818e6;
    cursor: pointer;
}

div.notsolved-col:hover {
    background: #ff4618b0;
}
