/*### Defaults ###*/
* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    margin: 0;
    /*background-image: url(assets/images/acm.jpg);*/
    font-family: sans-serif;
}

.color {
    min-height: 540px;
}

/**# Styling Table ##*/
.table-responsive {
    width: 80%;
    border: 5px;
    border-radius: 8px;
    margin: auto;
}

.table-bordered {
    text-align: center;
}

.table {
    margin-top: 7%;
}

.table td {
    vertical-align: middle;
}

/*### Styling Table Caption ###*/
caption {
    background-color: rgba(128, 128, 128, .1);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    caption-side: top;
}
