/*### Defaults ###*/

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    background-color: black;
}

/*### Navbar ###*/
nav {
    background-color: #fff;
    width: 100%;
    margin: 0;
    border-radius: 5px; 
}

nav img {
    width: 15%;
    margin-left: 2%;
}

nav ul {
    overflow: hidden;
    margin: 0;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0;
    display: inline-block;
    width: 79%;
}

ul.nav-left li {
    list-style: none;
    float: left;
}

ul.nav-left li.nav-right {
    float: right;
}

ul.nav-left li a {
    text-decoration: none;
    display: block;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #2B3386;
}

ul.nav-left li a:hover {
    background-color: #9E1A70;
    color: #fff;
}

ul.nav-left li.dropdownIcon {
    display: none;
}



/*### Mobile ###*/
@media screen and (max-width: 850px) {
    ul.nav-left li {
        display: none;
    }

    ul.nav-left li.dropdownIcon {
        display: block;
        float: right;
        font-size: 26px;
    }

    img.nav-left.responsive {
        display: none;
    }

    ul.nav-left.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.nav-left.responsive {
        position: relative;
    }
    ul.nav-left.responsive li {
        display: inline;
        float: none;
    }

    ul.nav-left.responsive li a {
        display: block;
        text-align: left;
    }
}










































