/*### Defaults ###*/


* {
    box-sizing: border-box;
}

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    font-family: sans-serif;
    background-image: url(assets/images/acm.jpg);
}

/*### Navbar ###*/
nav {
    background-color: #fff;
    width: 100%;
    margin: 0;
    border-radius: 5px; 
}

nav img {
    width: 15%;
    height: 90px;
    margin-left: 2%;
}

nav ul {
    overflow: hidden;
    margin: 0;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0;
    display: inline-block;
    width: 79%;
}

ul.nav-left li {
    list-style: none;
    float: left;
}

ul.nav-left li.nav-right {
    float: right;
}

ul.nav-left li a {
    text-decoration: none;
    display: block;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #2B3386;
}

ul.nav-left li a:hover {
    background-color: #9E1A70;
    color: #fff;
}

ul.nav-left li.dropdownIcon {
    display: none;
}

/*### Mobile ###*/
@media screen and (max-width: 850px) {
    nav img {
        width: 30%
    }

    nav ul {
        width: 60%
    }

    img.nav-left.responsive {
        display: none;
    }

}

/*###Sign Btns###*/
.sign-div {
    text-align: center;
}



/*###Sign In###*/
.container.signin-container{
    /*margin-left: 30%;*/
    padding-top: 6%;
    padding-bottom: 40px;
}

.color {
    background-color: rgba(255, 255, 255, 0.8);
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: rgb(209, 191, 25);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1.signin-header {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Text Me One';
    color: #0F1DB3;
}

.signin-form {
    width: 350px;
    margin: auto;
}

button.signin-button {
    color: #fff;
    background-color: #9E1A70;
    width: 100%;
    margin-bottom: 1.2rem;
}

a.need-help {
    text-decoration: none;
    color: #9E1A70;
}

.suinves {
    display: none;
}

.siinves {
    display: none;
}
/*### Footer ###*/
#footer {
    padding:5px 20px;
    background-color:#9E1A70;
    text-align:center;
    color:#fff;
    font-size:15px;
    border-radius: 5px;

}

#footer a
{
    text-decoration: none;
    color: white;
}

