/*### Defaults ###*/

body {
    line-height: 1;
    margin: 0;
    
    font-family: sans-serif;
}

.color {
    height: 600px;
}
/*###articl ###*/
.articl{
    color: #9E1A70;
    font-size: 18px;
    
}
.study{
    color: #9E1A70;
    font-size: 18px;    
}
hr{
    color: #2B3386;
    width: 75%;
}

/*### Training Section ###*/
.btn {
    color: #fff;
    font-size: 18px;
    margin: 4px 2px;
}


.card-header{
    background-color: #2B3386;
    font: #fff;
}
.card-body{
    background-color: #fff;
    margin-left: 6.25%;
}

.card-body a{
    color: #2B3386;
}

#accordionExample {
    margin-top: 3%;
}