/*### Defaults ###*/
body {
    line-height: 1;
    margin: 0;
    /*background-image: url(assets/images/acm.jpg);*/
    font-family: sans-serif;
}

.color {
    min-height: 760px;
}

.pdfContainer {
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 75%;
    height: 650px;
}

.showsubmit {
    padding-left: 50%;
    margin-bottom: 3%;
}

.modal-title, .lang, .sors {
    color: #2B3386;
}

.btn {
    background-color: #2B3386;
}

textarea {
    height: auto;
    width: auto;
}

.user-select select {
    background: #9E1A70;
    color: #fff;
    padding: 10px;
    width: 200px;
    height: 38px;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

/* The Modal (background) */
.result {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.resultMod {
    background-color: #2B3386;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

/* The Close Button */
.closeRes {
    color: #000;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.closeRes:hover, .closeRes:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.finalResultClass {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
